* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: linear-gradient(to bottom left, #000000, #190152);
  color: whitesmoke;
  padding: 1em;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-family: 'Pangolin', cursive;
  font-size: 2em;
  letter-spacing: 3px;
  text-align: center;
}

.logo {
  width: 8vh;
  cursor: pointer;
}

.home {
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 1em;
}
