#chooseChallenge p {
  margin: 3em 1em;
  text-align: center;

}

.chooseChallenge p input {
  padding: 1.5em;
  border: none;
  color: whitesmoke;
  background: #0CA70C;
  box-shadow: 0px 2px 5px #212121;
  text-transform: uppercase;
  outline: 0;
  border-radius: 1em;
}

#quizStart {
  min-height: 100vh;
  display: none;
}

#quizStart h1 {
  text-align: center;
  text-shadow: 1px 1px 7px black;
  border: 1px solid whitesmoke;
  padding: .5em;
  background: rgba(245, 245, 245, .5);
  border-radius: 1em;
  margin: 1.5em;
}

#quizStart p {
  margin: .5em;
  text-align: center;
}

span {
  height: 110vh;
  width: 120vh;

  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
